#canvas {
    position: fixed;
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.05);
}

#background-layer {
    position: fixed;
    z-index: -2;
}

#landscape {
    position: fixed;
    z-index: -2;
}