body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #77ddff;
}

h1 {
    margin: 0;
    padding: 0;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background: linear-gradient(#88d9f7 0%, #22c0f9 100%);
}

#newGame,
#startGame {
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #18718e;
    transition: 150ms background-color;
}

#newGame:hover,
#startGame:hover {
    background-color: #197b96;
}

#newGame {
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

#rules {
    padding: 20px;
    box-shadow: 1px 1px 2px black;
    text-align: center;
    transition: 300ms opacity;
    color: #141414;
    background-color: #2097bf;
}

#rules ul,
#rules h2 {
    text-align: left;
}

ul {
    margin: 0 0 20px 0;
}

li {
    font-size: 20px;
}